*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
   
}
.containor h2 h3 p {
    color: #0e1724;;
}
#info{
    padding-top: 66px;
}
.containor{
    max-width: 1177px;
    margin: 0 auto;
}
.containor h2{
    margin: 30px 0px 32px 0px;
    font-weight: 700;
    font-size: 41px;
}
.containor p{
    margin:0px 0px 50px 0px;
    font-size: 24px;
    font-weight: 400;
}
.box{
    display: flex;
    gap: 0px 20px;
   
}
.box img{
    width: 80px;
}
.box h3{
    margin-top: 13px;
    font-size: 20px;
}
.box p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
}
.block{
    flex: 0 0 380px;
}
hr{
    width: 97%;
    height: 1px;
    border: none;
    margin: 70px auto;
    background-color: rgb(219, 209, 209);
}

.workdata img{
    width:510px;
    height: 510px;
    /* margin-top: 32px;
    padding-right: 20px; */
}
/* .containor1 h1{
    font-size: 41px;
    margin-bottom: 40px;
} */
/* .containor1 h3{
    font-size: 20px;
    margin: 20px 0px;
} */
/* .containor1 p{
    font-size: 16px;
    line-height: 25px;
} */
.workdatadec{
    display: flex;
    gap: 0px 43px;
    /* padding: 10px 0px; */
}
.workdata{
    flex-basis: 50%;
    margin-top: 25px;
    margin-left: 0px;
}
.work-dec{
    flex-basis: 50%;
    padding-right: 5px;
}
.work-dec h2{
    font-size: 41px;
    margin:25px 0px 34px 0px;
}
.work-dec h3{
    font-size: 20px;
    margin: 14px 0px;
}
.work-dec p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 32px;
}
.work-dec button{
    margin: 10px 0px 32px 0px;
    background-color:#f20091;
    border: none;
    color: #fff;
    padding:  12px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

/* .containor2{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

} */
.contdataimg{
    display: flex;
    margin: -5px 0px 0px 0px;
}
.contactimg{
    flex-basis: 50%;
}
.contactimg img{
    width:510px;
    height: 510px;
    margin-top: 31px;
}
.imgbox{
    display: flex;
    gap: 0px 27px;
    justify-content: space-between;
}
.contactdata{
    margin-left: 0px;
    flex-basis: 50%;
}
.imgbox img{
    width:72px;
    height: 72px;
    margin-bottom: 15px;
}
.contactdata h2{
    font-size: 41px;
    margin-bottom: 25px;
}
.contactdata p{
    font-size: 20px;
    margin-bottom: 45px;
    line-height: 30px;
}
.contactdata h3{
    font-size: 20px;
    margin: 8px 0px;
}
/* .imgbox p{
    font-size: 20px;
    line-height: 30px;
} */
/* .containor3{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0px 90px;
} */
.saf-sec{
    display: flex;
    column-gap: 100px;
}
.saf-secimg{
    margin: 20px 0px 0px 0px;
}
.saf-secimg img{
    width:510px;
    height: 510px;
}
.Safensecuredata{
    padding-right: 24px;
}
.Safensecuredata h2{
    font-size: 41px;
    margin: 25px 0px 24px 0px;
   
}
.Safensecuredata p{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 50px;
}
.saf-secdata{
    gap: 0px 40px;
    display: flex;
    /* justify-content: space-between; */
}
/* .block3{
   padding-left: 90px;
/* } */ 
.saf-secdata img{
    width:72px;
    height: 72px;
}
.saf-secdata h3{
    font-size: 20px;
    margin: 22px 0px 11px 0px;
}
#bids{
    margin: 40px 0px;
    width: 100%;
    background-color: #1f2836;
    padding: 10px 40px;
    /* display: flex; */
    
}
.biddata{
    margin: 50px 0px 50px 0px;
}
.biddata h2{
    font-size: 41px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.biddata p{
    font-size: 24px;
    color: #fff;
    margin: 20px 0px  10px 0px;
}
.biddata button{
    margin-top: 40px;
    background-color:#f20091;
    border: none;
    color: #fff;
    padding:  10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}
.convince{
    margin-top: 100px;
    
}
.convince p{
    font-size: 24px;
    line-height: 32px;
}
.imgdesing{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0px;
}
.desings{
    margin:0px 20px 0px 0px;
}
.desingsbox{
    width: 372px;
    height: 282px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.desings img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    position: absolute;
    transition: 0.5s;

}
.desingsbox .innerdata{
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.6);
    opacity: 0;
}
.desingsbox:hover img{
    transform: scale(1.2);
}
.desingsbox:hover .innerdata{
    opacity: 1;
}
.innerdata button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 12px 24px;
    font-size: 19px;
    font-weight: bold;
    border: 2px solid #f7f7f7;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.desingsbox button:hover{
    background-color: rgba(255 255 255 / 0.3);
}

.desings h3{
    font-size: 24px;
    line-height: 33px;
}
.viewbutton{
    display: flex;
    justify-content: center;
}
.viewbutton  button{
    border-radius: 4px;
    margin: 90px 0px;
    background-color:#f20091;
    border: none;
    color: #fff;
    padding:  12px 20px;
    font-size: 20px;
    font-weight: 700;
}
#help{
    background-color: #1f2836;

}
.addhelp{
  

    padding: 35px 0px 50px 0px;
}


.addhelp h2{
    font-size: 41px;
    color: #fff;
    margin-bottom: 30px;
}
.addhelp h3{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}
.link {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 100px;
    width: 800px;
}
.link a{
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}
#feedback{
    background-color: #161e2c;
    padding: 32px 0px 0px 0px;
}
.Categories{
    display: flex;
    gap: 0px 50px;

}
.Categoriesitem{
    display: flex;
    flex-direction: column;
    gap: 7px 0px;
    flex: 135px;
}
.Categoriesitem img{
    width: 133px;
    height: 32px;
}
#feedback  h3 {
    color: #f7f7f7;
}
#feedback  a {
    color: #f7f7f7;
}
#feedback p {
    color: #f7f7f7;
}
.Categories h3{
    font-size: 16px;
    font-weight: 700;
}
.Categories a{
    color: #BEC0C2;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}
.support a{
    font-size: 14px;
    padding: 9px 0px;
    color: #f7f7f7;
    font-weight: 700;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright h3{
    font-size: 14px;
}
.copyright p{
    font-size: 13px;
}
.ipl p{
    font-size: 11px;
    line-height: 20px;
}
#feedback hr{
    margin: 80px 0px 28px 0px;
    border: none;
    height: 1px;
    background-color: #a3a7ab;
    width: 100%;
}
.applestoreb button{
    padding: 1px;
    display: flex;
    width: 136px;
    height: 40px;
    background-color: #0e1724;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}
.applestoreb i {
    flex-basis: 30%;
    font-size: 30px;
    align-self: center;
}
.applestoreb p{
    font-size: 9px;
    text-align: left;
}
.applestoreb p span{
    font-size: 20px;
}
.googleb button{
    padding: 1px;
    display: flex;
    width: 136px;
    height: 40px;
    background-color: #0e1724;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}
.googleb i{
    flex-basis: 30%;
    font-size: 24px;
    align-self: center;
}
.googleb p {
    font-size: 9px;
    text-align: left;
}
.googleb p span {
    font-size: 18px;
}




