*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cantinor{
    max-width: 1200px;
    /* height: 100px; */
    border: 2px solid chocolate;
    margin: 20px auto;
    padding: 12px 20px;
}
.logo{
    
    float: left;
    border: 2px solid black;
}
nav{
    float: right;
    border: 2px solid black;   
}
.clearfix::after{
    display: block;
    clear: both;
    content: '';
}
.logo img{
    width: 120px;
    height: 70px;
}
nav ul {
   
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin:20px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
@media screen and (max-width:616px) {
    .logo , nav {
        width: 100%;
        text-align: center;
    }
    .nav ul{
        text-align: center;
    }
}