@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: caviardreams;
    src: url(../caviardreams_regular_macroman/CaviarDreams-webfont.ttf);
    font-size: normal;
    font-weight: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containor{
    padding: 10px 60px;
    width: 75%;
    height: 92vh;
    background-color:#f3e1e2;
    margin: 20px auto;
    font-family:  caviardreams;
    text-align: center;
    
}
.box{
    padding: 50px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px 25px 25px 20px;
    box-shadow: 2px  2px 10px 1px gray;
    position: relative;
    overflow: hidden;
    color: gray;
}
.loginform{
    float: left;
    width: 50%;
    height: 100%;
    padding: 20px; 
}

#login input{
    padding: 15px;
    background-color: rgb(244, 232, 232);
    color: grey;
    border: none;
    font-size: 20px;
}
.loginform h1{
    
    margin: 30px;
    font-size: 50px;
    color: #b43957;
}
p{
    margin: 30px;
    font-size: 20px;
    font-weight: 100;
}

#login a{
    display: block;
    text-decoration: none;
    margin: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #b43957;
}
#login button{
    margin: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #b43957;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transition: 1s;
}
 .socialaoth a{
   margin: 5px 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid #b43957;
    color: #b43957;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    transition: 1s;
}
.socialaoth a:hover{
    background-color: #b43957;
    color: white;
}
#login button:hover{
    background-color:white;
    color: #b43957;
   border: 2px solid #b43957;
}
.img{
    float: right;
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-image: url(../img/bannar.jpg);
    background-size: cover;
    background-position: center right;
    border-radius: 50%;  
    left: 50%;
    top: -8%; 
}
