@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: caviardreams;
    src: url(../caviardreams_regular_macroman/CaviarDreams-webfont.ttf);
   
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containor{
    padding: 10px 60px;
    width: 75%;
    height: 92vh;
    background-color:#f3e1e2;
    margin: 20px auto;
   
}
.box{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px 25px 25px 20px;
    box-shadow: 2px  2px 10px  gray;
    position: relative;
    overflow: hidden;
}
.form{
   font-family:  caviardreams;
    float: left;
    width: 50%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid chartreuse; */
    
}
form{
    text-align: center;
}
 input{
    padding: 20px;
    background-color: rgb(244, 232, 232);
    color: grey;
    border: none;
    font-size: 20px;
}
h1{
    font-family: caviardreams;
    text-align: center;
    margin: 30px;
    font-size: 50px;
    color: #b43957;
}
p{
    font-family: caviardreams;
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: 100;
}
h5{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 200;
    color: #b43957;
}
button{
    margin: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #b43957;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: 100;
    
}
a{
    margin: 5px 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 2px solid #b43957;
    color: #b43957;
    border-radius: 50%;
    font-weight: 700;
    font-size: larger;
}

.img{
    float: right;
    width: 1000px;
    height: 1000px;
    /* border: 2px solid chartreuse;  */
    position: absolute;
    background-image: url(../img/bannar.jpg);
    background-size: cover;
    background-position: center right;
    border-radius: 50%;  
    left: 50%;
    top: -8%; 
}
