*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containor{
    max-width: 1200px;
}
h2{
    text-align: center;
    margin: 20px;
}
.box{
    margin: 0 auto;
    width: 250px;
    height: 400px;
    background-color: aqua;
    perspective: 1000px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 1s;
}
.scale img:hover{
    transform: scale(1.2);
    /* transform: scale(1.2 , 1.4); */
}
.scaleX img:hover{
    transform: scaleX(1.2);
}
.scaleY img:hover{
    transform: scaleY(1.4);
}
.translate img:hover{
    transform: translate(20px , 30px);
    /* transform: translate(x , y); */
}
.skew:hover img{
    transform: skew(30deg);
}
.skewX:hover img{
    transform: skewX(30deg);
}
.skewY:hover img{
    transform: skewY(30deg);
}
.rotate:hover img{
    transform: rotate(30deg);
}
.rotateX:hover img{
    transform: rotateX(30deg);
}
.rotateY:hover img{
    transform: rotateY(180deg);
}
.matrix:hover img{
    /* transform: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()); */
    transform: matrix(1, 2, -1, 1, 80, 80);
}